body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="sliderInfo"],
  [class*=" sliderInfo"] {
    height: 120px;
    max-height: 100vh;
    font-size: 14px;

    img{
        width: 70px;
        height: 70px;
    }

    }
  
    #info {
      background: rgba(0,0,0,.1);
      margin-top: 30px;
    }

    .preco, .frete, .suporte, .seguranca {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

  .navigation-wrapper {
    position: relative;
  }
  
  .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }
  
  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot.active {
    background: #000;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
  }
  
  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    left: auto;
    right: 5px;
  }
  
  .arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
  }
  
@media (min-width: 1285px){
    .dots {
        display: none;
    }
}