body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="slide"],
[class*=" slide"] {
  display: grid;
  align-items: center;
  justify-content: center;
  color: black;
  height: auto;
  width: auto;
  max-height: 100vh;  
  
  .container &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
  }


  .info-name {
    font-size: 13px;
  }

  .preco-off {
    font-size: 12px;
  }

  .content-info .div-preco .preco {
    font-size: 24px;
  }
  
  @media (max-width: 1428px){
    .content-info .div-preco .preco{
      font-size: 16px;
    }
  }
  
  .content-info .div-preco .porcentagem-preco {
    font-size: 13px;
  }
  .content-info .div-juros .juros {
    font-size: 14px;
  }

  .navigation-wrapper {
    position: relative;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    
    cursor: pointer;
  }
  
  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    left: auto;
    right: 5px;
  }
  
  .arrow--disabled {
    fill: #fff;
  }
  
}
